@model University.ViewModels.Exams.EditVM
@using University.Entities
@{
    this.Layout = "/Views/Shared/_Site.cshtml";
    ViewData["title"] = "EDIT EXAM";
}
<fieldset>
    <legend>EDIT</legend>
    <form action="/Exam/Edit" method="post">
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.ProfessorId)
        <div class="grid">
            @if (Model.Subjects.Count <= 0)
            {
                <span>No Subjects to Choose</span>
            }
            else
            {
                @foreach (Subject item in Model.Subjects)
                {
                    @if (item.Id == Model.SubjectId)
                    {
                        <input type="radio" name="SubjectId" value="@item.Id" checked= "checked" />
                        <label>@item.Title</label>
                        <br />
                    }else
                    {
                        <input type="radio" name="SubjectId" value="@item.Id" />
                        <label>@item.Title</label>
                        <br />
                    }
                }
                <div class="row">
                    <div class="col-1">
                        @Html.LabelFor(x => x.Name)
                    </div>
                    <div class="col-2">
                        @Html.TextBoxFor(x => x.Name)
                    </div>
                    <div class="col-2">
                        @Html.ValidationMessageFor(x => x.Name)
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        @Html.LabelFor(x => x.Date)
                    </div>
                    <div class="col-2">
                        @Html.TextBoxFor(x => x.Date)
                    </div>
                    <div class="col-2">
                        @Html.ValidationMessageFor(x => x.Date)
                    </div>
                </div>
            }
    </form>
    <div class="row">
        <div class="col-3">@Html.ValidationMessage("ownerError")</div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-2">
            <input type="submit" class="right" value="Save" />
            <a class="right back" href="/Exam/Index">Back</a>
        </div>
    </div>
    </div>
    </form>
</fieldset>