@using University.Entities;
@using University.ExtensionMethods;
@model University.ViewModels.Users.IndexVm
@{
    this.Layout = "/Views/Shared/_Site.cshtml";
    ViewData["title"] = "USERS";
    User loggedUser = this.ViewContext.HttpContext.Session.GetObject<User>("loggedUser");
}


<table>
    <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th class="options"></th>
    </tr>
    @foreach (User item in Model.Items)
    {
        <tr>

            <td>
                @item.Username
            </td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            @if (loggedUser != null)
            {
                <td class="options">
                    <a href="/Users/Edit?Id=@item.Id">edit</a>
                    <a href="/Users/Delete?Id=@item.Id" onclick="return confirm('Delete User?');" class="deleteOption">delete</a>
                </td>
            }
        </tr>
    }
</table>
<div class="row">
    @{
        string controller = this.ViewContext.RouteData.Values["controller"].ToString();
        string action = this.ViewContext.RouteData.Values["action"].ToString();
    }
    <div class="col-3 pager">
        @for (int i = 0; i < Model.Pager.PageCount; i++)
        {
            <a href="/@controller/@action?Pager.Page=@(i+1)&Pager.ItemsPerPage=@Model.Pager.ItemsPerPage">
                @(i + 1)
            </a>
        }
        <script>
            function ddlItemsPerPage_OnChange() {
                let control = document.getElementById("ddlItemsPerPage");
                document.location.href = "/@controller/@action?Pager.ItemsPerPage=" + control.value;
            }
        </script>
        <select id="ddlItemsPerPage" onchange="ddlItemsPerPage_OnChange()">
            <option value="10" @(Model.Pager.ItemsPerPage == 10 ? "selected" : "")>10</option>
            <option value="25" @(Model.Pager.ItemsPerPage == 25 ? "selected" : "")>25</option>
            <option value="50" @(Model.Pager.ItemsPerPage == 50 ? "selected" : "")>50</option>
        </select>
    </div>
</div>
@if (loggedUser != null)
{
    <button onclick="window.location.href='/Users/Create';">New User</button>
}
